* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f8ff;
}

.container {
  margin: 0 auto;
  width: 90%;
}

button {
  cursor: pointer;
}

.btn-filled {
  background-color: #0290ff;
  color: #fff;
  padding: 0.5em;
  border: none;
  text-transform: uppercase;
}
