* {
  margin: 0;
  padding: 0;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f5f6fa;
}

.container {
  margin: 0 auto;
  width: 80%;
}
